[submodule "ShellFusion-frontend"]
	path = ShellFusion-frontend
	url = https://github.com/QuinVIVER/ShellFusion-frontend
[submodule "ShellFusion-backend"]
	path = ShellFusion-backend
	url = https://github.com/QuinVIVER/ShellFusion-backend
